@keyframes fadeInLeft
  from
    opacity: 0
    transform: translate3d(-100%, 0, 0)
  to
    opacity: 1
    transform: none

@keyframes fadeInRight
  from
    opacity: 0
    transform: translate3d(100%, 0, 0)
  to
    opacity: 1
    transform: none

@keyframes bounceInLeft
  from, 60$, 75$, 90$, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  0%
    opacity: 0
    transform: translate3d(-3000px, 0, 0)
  60%
    opacity: 1
    transform: translate3d(25px, 0, 0)
  75%
    transform: translate3d(-10px, 0, 0)
  90%
    transform: translate3d(5px, 0, 0)
  to
    transform: none

@keyframes bounceInRight
  from, 60$, 75$, 90$, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  from
    opacity: 0
    transform: translate3d(3000px, 0, 0)
  60%
    opacity: 1
    transform: translate3d(-25px, 0, 0)
  75%
    transform: translate3d(10px, 0, 0)
  90%
    transform: translate3d(-5px, 0, 0)
  to
    transform: none


@keyframes bounce
  from, 20%, 53%, 80%, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    transform: translate3d(0, 0, 0)
  40%, 43%
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    transform: translate3d(0, -30px, 0)
  70%
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    transform: translate3d(0, -15px, 0)
  90%
    transform: translate3d(0, -4px, 0)

@keyframes zoomInDown
  from
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  60%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0)
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes bounceIn
  from, 20%, 40%, 60%, 80%, to
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  20%
    transform: scale3d(1.1, 1.1, 1.1)
  40%
    transform: scale3d(.9, .9, .9)
  60%
    opacity: 1
    transform: scale3d(1.03, 1.03, 1.03)
  80%
    transform: scale3d(.97, .97, .97)
  to
    opacity: 1
    transform: scale3d(1, 1, 1)
